[Unit]
Description=Run Tycho TVL updater every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=tycho-tvl.service

[Install]
WantedBy=timers.target
